# Source: kopia/templates/common.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kopia
  namespace: kopia
  labels:
    app.kubernetes.io/name: "kopia"
spec:
  replicas: 1
  revisionHistoryLimit: 3
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: kopia
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "kopia"
    spec:
      restartPolicy: Always
      containers:
        - name: kopia
          image: kopia/kopia:20241025.0.1833@sha256:1ca1533de08d978bb505384127380b6f34585b49f4cb376155e3e5359386a911
          imagePullPolicy: IfNotPresent
          args:
            - "server"
            - "start"
            - "--address=http://0.0.0.0:10238"
            - "--insecure"
            - "--without-password"
          ports:
            - name: main
              containerPort: 10238
              protocol: TCP
          volumeMounts:
            - name: cache
              mountPath: /app/cache
              readOnly: false
            - name: devshm
              mountPath: /dev/shm
              readOnly: false
            - name: secret-volume
              mountPath: "/app/config/repository.config"
              subPath: repository.config
            - name: config
              mountPath: /app/logs
              subPath: kopia/logs
              readOnly: false
            - name: downloads
              mountPath: /downloads
              readOnly: false
            - name: config
              mountPath: /config
              readOnly: false
          resources:
            requests:
              cpu: 10m
              memory: 50Mi
            limits:
              cpu: 4000m
              memory: 8Gi
          envFrom:
            - secretRef:
                name: "kopia-credentials"
          env:
            - name: "TZ"
              value: "Europe/Amsterdam"
      volumes:
        - name: config
          hostPath:
            path: /config
            type: DirectoryOrCreate
        - name: downloads
          hostPath:
            path: /downloads
            type: DirectoryOrCreate
        - name: cache
          emptyDir:
            sizeLimit: 5Gi
        - name: devshm
          emptyDir:
            medium: Memory
            sizeLimit: 2Gi
        - name: secret-volume
          secret:
            secretName: kopia-credentials
