apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base/
  - secret.yaml

images:
  - name: app
    newName: ghcr.io/blakeblackshear/frigate
    newTag: 0.16.4@sha256:1f8dbaaa4c7c2855c2aef711842d13b0c20bfdc3f28ad88faf66aa1bc219b108

namespace: smarthome

namePrefix: frigate-

labels:
  - includeSelectors: true
    pairs:
      app: frigate

patches:
  - path: deployment-patch.yaml
  - path: service-patch.yaml
  - path: ingress-patch.yaml
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/name
        value: frigate
    target:
      kind: Deployment
      name: deployment

configMapGenerator:
  - name: frigate-configmap
    files:
      - config.yml=./resources/config.yml
