apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dvr

resources:
  - ../../base/

images:
  - name: app
    newName: ghcr.io/tzahi12345/youtubedl-material
    newTag: nightly@sha256:6a9e5d0fd2dc22303d8b01710ce1fa29e6f3aa976b99ffcd3bcae499c147e245

configMapGenerator:
  - name: env-configmap
    literals:
      - UID=911
      - GID=911
      - ytdl_mongodb_connection_string='mongodb://localhost:27017'
      - ytdl_use_local_db='false'
      - write_ytdl_config='true'

namePrefix: ytdl-

labels:
  - includeSelectors: true
    pairs:
      app: ytdl

patches:
  - path: deployment-patch.yaml
  - path: service-patch.yaml
  - path: ingress-patch.yaml
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/name
        value: ytdl
    target:
      kind: Deployment
      name: deployment
