apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.1.4
    releaseName: argo-cd
    namespace: argocd
    valuesFile: values.yaml
    includeCRDs: true

resources:
  - ns.yaml
  - prometheusrule.yaml
  - external-secret.yaml
