argo-cd:
  configs:
    params:
      server.insecure: true

  controller:
    replicas: 1
    metrics:
      enabled: true
    serviceMonitor:
      enabled: true

  server:
    ingress:
      enabled: true
      ingressClassName: "nginx"
      hostname: argocd.k8s.javydekoning.com
      annotations:
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      extraTls:
        - hosts:
            - argocd.k8s.javydekoning.com
          secretName: javydekoning-com-tls

    autoscaling:
      enabled: true
      minReplicas: 1

  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 1

  applicationSet:
    replicaCount: 1
