apiVersion: apps/v1
kind: Deployment
metadata:
  name: changedetection
  labels:
    app: changedetection
spec:
  selector:
    matchLabels:
      app: changedetection
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: changedetection
    spec:
      containers:
        - name: playwright-chrome
          image: browserless/chrome:latest@sha256:57d19e414d9fe4ae9d2ab12ba768c97f38d51246c5b31af55a009205c136012f
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
        - name: selenium
          image: selenium/standalone-chrome:latest@sha256:f81c6d4750fd7f363f9317f2e5049dd409d29a31f076fd1cd468147129e709d7
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4444
          volumeMounts:
            - name: shm
              mountPath: /dev/shm
        - name: changedetection
          image: ghcr.io/dgtlmoon/changedetection.io:latest@sha256:99cf11f04b5d1f1300b5b68f17dc22e76bdb5d6695d7e6590d2df92eca8fb339
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: changedetection-config
          ports:
            - containerPort: 5000
              name: http
          volumeMounts:
            - name: datastore
              mountPath: /datastore
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: datastore
          hostPath:
            path: /config/changedetection
            type: DirectoryOrCreate
        - name: shm
          emptyDir:
            medium: Memory
            sizeLimit: 2048Mi
      restartPolicy: Always
