apiVersion: apps/v1
kind: Deployment
metadata:
  name: changedetection
  labels:
    app: changedetection
spec:
  selector:
    matchLabels:
      app: changedetection
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: changedetection
    spec:
      containers:
        - name: playwright-chrome
          image: browserless/chrome:latest@sha256:57d19e414d9fe4ae9d2ab12ba768c97f38d51246c5b31af55a009205c136012f
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
        - name: selenium
          image: selenium/standalone-chrome:latest@sha256:18c17c7d95c29f21966ad6151c64aa1a3bf661c575a09f58d33c4bf2e5c66568
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4444
          volumeMounts:
            - name: shm
              mountPath: /dev/shm
        - name: changedetection
          image: ghcr.io/dgtlmoon/changedetection.io:latest@sha256:e95931043d68da46e90498ce74ad317b392caade07186dc06bdfa1710901bf90
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: changedetection-config
          ports:
            - containerPort: 5000
              name: http
          volumeMounts:
            - name: datastore
              mountPath: /datastore
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: datastore
          hostPath:
            path: /config/changedetection
            type: DirectoryOrCreate
        - name: shm
          emptyDir:
            medium: Memory
            sizeLimit: 2048Mi
      restartPolicy: Always
