apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: changedetection-ingress
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - changedetection.k8s.javydekoning.com
  rules:
    - host: changedetection.k8s.javydekoning.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: changedetection
                port:
                  name: http
