.DS_Store
secrets_decrypted
cdk.out
package-lock.json
node_modules
*.schema.json
cloudformation.schema.json
sam.schema.json

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Helm
k8s/**/charts/*.tgz
k8s/**/charts/
k8s/**/Chart.lock

# Others
megalinter-reports/
.vagrant/

# tf
.terraform
.terraform.lock.hcl
terraform.tfstate*
