.DS_Store
secrets_decrypted
cdk.out
.vscode
package-lock.json
node_modules
*.schema.json
aws/file:/Users/javy/Library/Application Support/Code/User/globalStorage/amazonwebservices.aws-toolkit-vscode/cloudformation.schema.json
aws/file:/Users/javy/Library/Application Support/Code/User/globalStorage/amazonwebservices.aws-toolkit-vscode/sam.schema.json

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Helm
k8s/**/charts/*.tgz
k8s/**/charts/
k8s/**/Chart.lock