ingressClass:
  enabled: true
  isDefaultClass: false
  name: traefik-external

service:
  spec:
    loadBalancerIP: 192.168.100.201
    externalTrafficPolicy: Local

ports:
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
      forwardedHeaders:
        trustedIPs:
          - "10.0.0.0/8"
          - "172.16.0.0/12"
          - "192.168.0.0/16"
  websecure:
    http:
      tls:
        enabled: true
      forwardedHeaders:
        trustedIPs:
          - "10.0.0.0/8"
          - "172.16.0.0/12"
          - "192.168.0.0/16"

tlsStore:
  default:
    defaultCertificate:
      secretName: javydekoning-com-tls

tlsOptions:
  default:
    minVersion: VersionTLS12

providers:
  kubernetesIngress:
    publishedService:
      enabled: true
