defaultRules:
  disabled:
    NodeMemoryMajorPagesFaults: true
    NodeMemoryHighUtilization: true
  rules:
    # Disable KubeSchedulerDown, KubeProxyDown, KubeControllerManagerDown
    # because running in k3s
    kubeControllerManager: false
    kubeProxy: false
    kubeSchedulerAlerting: false
kubeProxy:
  enabled: false
kubeControllerManager:
  enabled: false

alertmanager:
  config:
    receivers:
      - name: "null"
      - name: default
        telegram_configs:
          - bot_token_file: /etc/alertmanager/secrets/telegram-bot-token/token.txt
            chat_id: -1001375636328
    route:
      receiver: default
  alertmanagerSpec:
    # Secrets is a list of Secrets in the same namespace as the Alertmanager object, which shall be mounted into the
    # Alertmanager Pods. The Secrets are mounted into /etc/alertmanager/secrets/.
    #
    secrets:
      - telegram-bot-token
    volumes:
      - name: alertmanager-data
        hostPath:
          path: /config/alertmanager
          type: DirectoryOrCreate
    volumeMounts:
      - name: alertmanager-data
        mountPath: /alertmanager

  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - alertmanager.k8s.javydekoning.com
    paths:
      - /
    tls:
      - hosts:
          - alertmanager.k8s.javydekoning.com

grafana:
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.k8s.javydekoning.com
    paths:
      - /
    tls:
      - hosts:
          - grafana.k8s.javydekoning.com

  additionalDataSources:
    - name: Loki
      type: loki
      access: proxy
      url: "http://loki:3100"
      isDefault: false
      editable: true

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - prometheus.k8s.javydekoning.com
    paths:
      - /
    tls:
      - hosts:
          - prometheus.k8s.javydekoning.com

prometheusOperator:
  admissionWebhooks:
    enabled: false
  tls:
    enabled: false

prometheus-node-exporter:
  hostRootFsMount:
    enabled: false
