apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 1.3.2
    releaseName: external-secrets
    namespace: external-secrets
    valuesFile: values.yaml
    includeCRDs: true

resources:
  - ns.yaml
  - config.yaml
