apiVersion: apps/v1
kind: Deployment
metadata:
  name: smokeping
  namespace: monitoring
  labels:
    app: smokeping
spec:
  selector:
    matchLabels:
      app: smokeping
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: smokeping
    spec:
      initContainers:
        - name: copyconfig
          image: busybox
          command:
            - "sh"
            - "-c"
            - |
              if [ ! -f /config/Probes ]; then
                cp /smokeping-confmap/Probes /config/Probes
              fi
              if [ ! -f /config/Targets ]; then
                cp /smokeping-confmap/Targets /config/Targets
              fi
          volumeMounts:
            - name: smokeping-confmap
              mountPath: /smokeping-confmap
            - name: config
              mountPath: /config
      containers:
        - name: smokeping
          image: ghcr.io/jwigley/smokeping-speedtest:latest@sha256:9581c8c3c99fc06ac5b7f3838a03049735b7911774a23e43d9a6f27c6bc41651
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: Europe/Amsterdam
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: datastore
              mountPath: /data
            - name: config
              mountPath: /config
      volumes:
        - name: smokeping-confmap
          configMap:
            name: smokeping-confmap
        - name: config
          emptyDir: {}
        - name: datastore
          hostPath:
            path: /config/smokeping
            type: DirectoryOrCreate
      restartPolicy: Always
