apiVersion: apps/v1
kind: Deployment
metadata:
  name: kromgo
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: kromgo
  replicas: 1
  template:
    metadata:
      labels:
        app: kromgo
    spec:
      containers:
        - name: kromgo
          image: ghcr.io/kashalls/kromgo:latest@sha256:25df18d426e19aafa7526cd9138a6f35ca73c6ef6fcfcf9de8971c4334f6efdf
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
          volumeMounts:
            - name: config
              mountPath: /kromgo/config.yaml
              subPath: config.yaml
      volumes:
        - name: config
          configMap:
            name: kromgo-configmap
