apiVersion: apps/v1
kind: Deployment
metadata:
  name: litellm
  labels:
    app: litellm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: litellm
  template:
    metadata:
      labels:
        app: litellm
    spec:
      containers:
        - name: litellm
          env:
            - name: CONFIG_FILE_PATH
              value: /app/config.yaml
            - name: LITELLM_LOG
              value: DEBUG
          envFrom:
            - secretRef:
                name: litellm-secret
          image: ghcr.io/berriai/litellm:main-stable@sha256:2607495f3d0928a717029ab38e97411eb83bd8a3216cca52a3551509eba144e4
          ports:
            - containerPort: 4000
              name: http
          volumeMounts:
            - name: config
              mountPath: /app/config.yaml
              subPath: config.yaml
      volumes:
        - name: config
          configMap:
            name: litellm-config
