duplicati:
  env:
    TZ: Europe/Amsterdam
    PUID: "0"
    PGID: "0"

  image:
    repository: ghcr.io/linuxserver/duplicati
    # Duplicati standard image hasn't been updated in years
    # Canary releases have many bugfixes, hence switched to
    # :development as of 2022-05-11
    tag: "development@sha256:f5f926034b99464f8ad6b58c6d306427bb4b93a4f9b7dbd77904aeeb5695b654"
    pullPolicy: Always

  ingress:
    main:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - host: duplicati.k8s.javydekoning.com
          paths:
            - path: /
      tls:
        - hosts:
            - duplicati.k8s.javydekoning.com
          secretName: javydekoning-com-tls

  persistence:
    config:
      enabled: true
      type: hostPath
      hostPath: /downloads/config/duplicati
      mountPath: /config
      retain: true
    source:
      enabled: true
      type: hostPath
      hostPath: /downloads/config
      mountPath: /source
      retain: true
    backups:
      enabled: false
