apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster-critical-kustomize-application-set
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/javydekoning/homelab.git
        revision: HEAD
        files:
          - path: "k8s/cluster-critical/**/kustomization.yaml"
  syncPolicy:
    preserveResourcesOnDeletion: false
  template:
    metadata:
      name: "{{ path.basename }}-kustomize"
      annotations:
        argocd.argoproj.io/manifest-generate-paths: "{{ path }}"
    spec:
      project: default
      source:
        path: "{{ path }}"
        targetRevision: HEAD
        repoURL: https://github.com/javydekoning/homelab.git
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        automated: {}
        syncOptions:
          - ApplyOutOfSyncOnly=true
          - CreateNamespace=true
      # For HASS diff https://github.com/argoproj/argo-cd/issues/11143
      ignoreDifferences:
        - group: "apps"
          kind: "StatefulSet"
          jqPathExpressions:
            - ".spec.volumeClaimTemplates[].apiVersion"
            - ".spec.volumeClaimTemplates[].kind"
