apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster-apps
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/javydekoning/homelab.git
        revision: HEAD
        files:
          - path: "k8s/cluster-apps/**/gen-config.json"
  syncPolicy:
    preserveResourcesOnDeletion: false
  template:
    metadata:
      name: "{{ path.basename }}"
      annotations:
        argocd.argoproj.io/manifest-generate-paths: "{{ path }}"
    spec:
      project: default
      source:
        path: "{{ path }}"
        targetRevision: HEAD
        repoURL: https://github.com/javydekoning/homelab.git
        helm:
          valueFiles:
            - values.yaml
      destination:
        # Pods can use the kubernetes.default.svc hostname to query the API server.
        server: https://kubernetes.default.svc
        namespace: "{{ namespace }}"
      syncPolicy:
        automated: {}
        syncOptions:
          - ServerSideApply=true
          - CreateNamespace=true
      ignoreDifferences:
        - group: apps
          kind: "*"
          jqPathExpressions:
            - ".spec.template.spec.containers[].resources"
        - group: apps
          kind: "*"
          jqPathExpressions:
            - ".spec.template.spec.initContainers[].resources"
        - group: "apps"
          kind: "StatefulSet"
          jqPathExpressions:
            - ".spec.volumeClaimTemplates[].apiVersion"
            - ".spec.volumeClaimTemplates[].kind"
