apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: karakeep
  name: karakeep
  namespace: karakeep
spec:
  selector:
    matchLabels:
      app: karakeep
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: karakeep
    spec:
      containers:
        - name: web
          envFrom:
            - configMapRef:
                name: karakeep-config
            - secretRef:
                name: karakeep-credentials
          image: ghcr.io/karakeep-app/karakeep:release@sha256:3b521070cdc26d7385cc288fe0cf7aef17e1fa551a1960cdfd7b8d5d732167a9
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          volumeMounts:
            - mountPath: /data
              name: appdata
        - name: chrome
          image: gcr.io/zenika-hub/alpine-chrome:124
          args:
            - --no-sandbox
            - --disable-gpu
            - --disable-dev-shm-usage
            - --remote-debugging-address=0.0.0.0
            - --remote-debugging-port=9222
            - --hide-scrollbars
          ports:
            - containerPort: 9222
              name: chrome-debug
              protocol: TCP
        - name: meilisearch
          env:
            - name: MEILI_NO_ANALYTICS
              value: "true"
            - name: MEILI_EXPERIMENTAL_DUMPLESS_UPGRADE
              value: "true"
          image: getmeili/meilisearch:v1.29@sha256:9af2a48719a1afadbe932a35329ecb504d034234319150a8eaad8de85b621754
          ports:
            - containerPort: 7700
              name: meili
              protocol: TCP
          volumeMounts:
            - mountPath: /meili_data
              name: meili-data
      restartPolicy: Always
      volumes:
        - name: appdata
          hostPath:
            path: /config/karakeep
            type: DirectoryOrCreate
        - name: meili-data
          hostPath:
            path: /config/karakeep/meili
            type: DirectoryOrCreate
