apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: karakeep
  name: karakeep
  namespace: karakeep
spec:
  selector:
    matchLabels:
      app: karakeep
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: karakeep
    spec:
      containers:
        - name: web
          envFrom:
            - configMapRef:
                name: karakeep-config
            - secretRef:
                name: karakeep-credentials
          image: ghcr.io/karakeep-app/karakeep:release@sha256:cd2348520ba25bbee64199468cd41758ab325eecd6a3a5c40cd6443a1607f9e9
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          volumeMounts:
            - mountPath: /data
              name: appdata
        - name: chrome
          image: gcr.io/zenika-hub/alpine-chrome:124
          args:
            - --no-sandbox
            - --disable-gpu
            - --disable-dev-shm-usage
            - --remote-debugging-address=0.0.0.0
            - --remote-debugging-port=9222
            - --hide-scrollbars
          ports:
            - containerPort: 9222
              name: chrome-debug
              protocol: TCP
        - name: meilisearch
          env:
            - name: MEILI_NO_ANALYTICS
              value: "true"
            - name: MEILI_EXPERIMENTAL_DUMPLESS_UPGRADE
              value: "true"
          image: getmeili/meilisearch:v1.26@sha256:773759814f59214a0971dc8810ae1d85002e92166d99760cd546d5ee8ac37c14
          ports:
            - containerPort: 7700
              name: meili
              protocol: TCP
          volumeMounts:
            - mountPath: /meili_data
              name: meili-data
      restartPolicy: Always
      volumes:
        - name: appdata
          hostPath:
            path: /config/karakeep
            type: DirectoryOrCreate
        - name: meili-data
          hostPath:
            path: /config/karakeep/meili
            type: DirectoryOrCreate
