apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: karakeep
spec:
  ingressClassName: traefik-external
  tls:
    - hosts:
        - karakeep.lab.javydekoning.com
  rules:
    - host: karakeep.lab.javydekoning.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: karakeep
                port:
                  name: http
