unifi:
  image:
    repository: ghcr.io/jacobalberty/unifi-docker
    tag: v8.6.9
    pullPolicy: Always

  # -- https://github.com/k8s-at-home/library-charts/blob/main/charts/stable/common/values.yaml#L176
  probes:
    startup:
      # -- Enable the startup probe
      enabled: true
      # -- Set this to `true` if you wish to specify your own startupProbe
      custom: false
      # -- The spec field contains the values for the default startupProbe.
      # If you selected `custom: true`, this field holds the definition of the startupProbe.
      # @default -- See below
      spec:
        initialDelaySeconds: 600
        timeoutSeconds: 1
        ## This means it has a maximum of 5*30=150 seconds to start up before it fails
        periodSeconds: 10
        failureThreshold: 30

  env:
    TZ: Europe/Amsterdam
    # -- Run UniFi as root
    RUNAS_UID0: "false"
    # -- Specify the user ID the application will run as
    UNIFI_UID: "1000"
    # -- Specify the group ID the application will run as
    UNIFI_GID: "1000"
    # -- Java Virtual Machine (JVM) initial, and minimum, heap size
    # Unset value means there is no lower limit
    JVM_INIT_HEAP_SIZE:
    # -- Java Virtual Machine (JVM) maximum heap size
    # For larger installations a larger value is recommended.
    # For memory constrained system this value can be lowered.
    JVM_MAX_HEAP_SIZE: 1024M
    # # -- External MongoDB URI
    # DB_URI:  # mongodb://unifi-mongodb:27017/unifi
    # STATDB_URI:  # mongodb://unifi-mongodb:27017/unifi_stat
    # DB_NAME:  # unifi

  # -- Configures service settings for the chart.
  # @default -- See values.yaml
  service:
    main:
      enabled: true
      type: LoadBalancer
      loadBalancerIP: 192.168.100.254
      annotations:
        metallb.universe.tf/allow-shared-ip: unifi
      ports:
        # -- Configure Web interface + API port
        # @default -- See values.yaml
        http:
          port: 8443
          protocol: HTTPS
        # -- Configure Controller port used for device command/control
        # @default -- See values.yaml
        controller:
          enabled: true
          port: 8080
          protocol: TCP
        # -- Configure Captive Portal HTTP port
        # @default -- See values.yaml
        portal-http:
          enabled: false
          port: 8880
          protocol: HTTP
        # -- Configure Captive Portal HTTPS port
        # @default -- See values.yaml
        portal-https:
          enabled: false
          port: 8843
          protocol: HTTPS
        # -- Configure Speedtest port (used for UniFi mobile speed test)
        # @default -- See values.yaml
        speedtest:
          enabled: false
          port: 6789
          protocol: TCP
        stun:
          enabled: false
        syslog:
          enabled: false
        discovery:
          enabled: false
    udp:
      enabled: true
      type: LoadBalancer
      loadBalancerIP: 192.168.100.254
      annotations:
        metallb.universe.tf/allow-shared-ip: unifi
      ports:
        # -- Configure STUN port
        # @default -- See values.yaml
        stun:
          enabled: true
          port: 3478
          protocol: UDP
        # -- Configure remote syslog port
        # @default -- See values.yaml
        syslog:
          enabled: true
          port: 5514
          protocol: UDP
        # -- Configure device discovery port
        # @default -- See values.yaml
        discovery:
          enabled: true
          port: 10001
          protocol: UDP

  ingress:
    # -- Enable and configure ingress settings for the chart under this key.
    # @default -- See values.yaml
    main:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        ingress.kubernetes.io/protocol: "HTTPS"
      hosts:
        - host: unifi.k8s.javydekoning.com
          servicePort: 8443
          paths:
            - path: /
      tls:
        - hosts:
            - unifi.k8s.javydekoning.com
          secretName: javydekoning-com-tls

  # -- Configure persistence settings for the chart under this key.
  # @default -- See values.yaml
  persistence:
    data:
      enabled: true
      type: hostPath
      hostPath: /downloads/config/unifi/data/
      mountPath: /unifi/data/
