apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dvr

resources:
  - ../../base/

images:
  - name: app
    newName: ghcr.io/advplyr/audiobookshelf
    newTag: latest@sha256:b4720362610ff25ae445c792d304be99a4a4584225dbaea03ff4a44aee4f22c3

configMapGenerator:
  - name: env-configmap
    literals:
      - AUDIOBOOKSHELF_UID="911"
      - AUDIOBOOKSHELF_GID="911"
      - AUDIOBOOKSHELF_INF="test"
      - TZ=Europe/Amsterdam

namePrefix: audiobookshelf-

labels:
  - includeSelectors: true
    pairs:
      app: audiobookshelf

patches:
  - path: deployment-patch.yaml
  - path: service-patch.yaml
  - path: ingress-patch.yaml
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/name
        value: audiobookshelf
    target:
      kind: Deployment
      name: deployment
