apiVersion: apps/v1
kind: Deployment
metadata:
  name: wireguard
  namespace: default
  labels:
    app: wireguard
spec:
  selector:
    matchLabels:
      app: wireguard
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: wireguard
    spec:
      securityContext:
        sysctls:
          - name: net.ipv4.conf.all.src_valid_mark
            value: "1"
      containers:
        - name: wireguard
          image: ghcr.io/linuxserver/wireguard:1.0.20210914@sha256:5a0a72a7bc7f08b2989ad95174a4bba275c3fda7ffac47988cfe5e8c1d45096d
          imagePullPolicy: Always
          securityContext:
            capabilities:
              add: ["NET_ADMIN", "SYS_MODULE"]
            privileged: true
          envFrom:
            - configMapRef:
                name: wireguard-configmap
          ports:
            - containerPort: 51820
              protocol: UDP
          volumeMounts:
            - name: config
              mountPath: /config/
            - name: modules
              mountPath: /lib/modules
      volumes:
        - name: config
          hostPath:
            path: /downloads/config/wireguard-config/
            type: DirectoryOrCreate
        - name: modules
          hostPath:
            path: /lib/modules
            type: Directory
      restartPolicy: Always
