ingress-nginx:
  controller:
    ingressClassResource:
      default: true
    service:
      loadBalancerIP: 192.168.100.200
    extraArgs:
      default-ssl-certificate: "default/javydekoning-com-tls"
