apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: authelia
  name: authelia
  namespace: authelia
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authelia
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: authelia
    spec:
      enableServiceLinks: false
      initContainers:
        - name: copy-config
          image: busybox:latest@sha256:e226d6308690dbe282443c8c7e57365c96b5228f0fe7f40731b5d84d37a06839
          command:
            - sh
            - -c
            - |
              cp /config-source/authelia.yml /config/authelia.yml
              chmod 644 /config/authelia.yml
              cat /config-source/authelia.yml
              cat /config/authelia.yml
          volumeMounts:
            - mountPath: /config-source
              name: authelia-config
              readOnly: true
            - mountPath: /config
              name: authelia-data
      containers:
        - name: authelia
          image: ghcr.io/authelia/authelia:latest@sha256:d23ee3c721d465b4749cc58541cda4aebe5aa6f19d7b5ce0afebb44ebee69591
          imagePullPolicy: IfNotPresent
          env:
            - name: X_AUTHELIA_CONFIG
              value: "/config/authelia.yml,/secrets/secrets.yml"
            - name: X_AUTHELIA_CONFIG_FILTERS
              value: "template"
          ports:
            - containerPort: 9091
              name: http
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: authelia-data
            - mountPath: /secrets
              name: authelia-secrets
              readOnly: true
      restartPolicy: Always
      volumes:
        - configMap:
            defaultMode: 420
            name: authelia-config
          name: authelia-config
        - hostPath:
            path: /config/authelia
            type: DirectoryOrCreate
          name: authelia-data
        - secret:
            secretName: authelia-credentials
          name: authelia-secrets
