apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base/

images:
  - name: app
    newName: ghcr.io/koenkk/zigbee2mqtt
    newTag: latest@sha256:89cf02f379aa743a68494388e3a26fba7b8c9101f8b452038cc07aeff3fc983c

configMapGenerator:
  - name: env-configmap
    namespace: smarthome
    literals:
      - TZ=Europe/Amsterdam

namePrefix: zigbee2mqtt-

labels:
  - includeSelectors: true
    pairs:
      app: zigbee2mqtt

patches:
  - path: deployment-patch.yaml
  - path: service-patch.yaml
  - path: ingress-patch.yaml
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/name
        value: zigbee2mqtt
    target:
      kind: Deployment
      name: deployment
